.logo {
    font-family: "TrukoBold", sans-serif;
    font-weight: normal;
    font-size: 72px;
    width: 5em;
    line-height: 0.9em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: #8A9CB1;

    /* Create the gradient. */
    background-image: linear-gradient(
            45deg,
            #8A9CB1 1%,
            #4E5764 15.666%,
            #56606E 16.666%,
            #5F6A79 33.333%,
            #687585 33.333%,
            #728192 50%,
            #7D8EA1 50%,
            #8A9CB1 66.666%,
            #98ACC3 66.666%,
            #A7BDD6 83.333%,
            #B8D0EB 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

@font-face {
    font-family: 'TrukoBold';
    src: url('../assets/fonts/TrukoBold.otf') format('opentype');
}